.input-popup{
    background-color: var(--dark);
    border-radius: 8px;
    height: 20px;
    font-size: var(--md);
    padding: 6px;
    border: none;
    text-align: center;
}
.title-popups-edit{
    margin: 15px;
}

@media (max-width: 640px){
    .input-popup{
       width: 159px;
    }
}